[submodule "Dependencies/PropertyHook"]
	path = Dependencies/PropertyHook
	url = git@github.com:Grimrukh/PropertyHook.git
[submodule "Dependencies/SoulsFormats"]
	path = Dependencies/SoulsFormats
	url = git@github.com:Grimrukh/SoulsFormats.git
